@media (max-width: 1340px) {

    .logo__ipsum {
        justify-content: space-around;
    }

    .logo__ipsum li {
        margin: 0  0 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 295px;
    }

    .apply__body {
        width: 50%;
    }

    .slider__cards {
        flex-wrap: wrap;
    }

}

@media (max-width: 1150px) {

    .footer__info {
        max-width: 100%;
    }

    .footer__menu {
        display: flex;
        justify-content: left;
    }

    .footer__col {   
        width: 190px;
    }

    .footer__copyright {
        max-width: 100%;
    }
    
}

@media (max-width: 960px) {
    .header__burger {
        display: flex;
    }

    .header__menu {
        display: none;
    }

    .slider {
        margin-bottom: 90px;
    }

}

@media (max-width: 860px) {

    .hero__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .about__inner {
        flex-direction: column;
        align-items: center;
    }

    .about__text {
        margin: 0 auto 20px;
    }

    .about__content {
        max-width: 100%;
        text-align: center;
        
    }

    .about__image {
        max-width: 380px;
    }

}

@media (max-width: 767px) {
    .btn {
        max-width: 215px;
    }

    .logo p {
        display: none;
    }

    .hero__buttons button{
        text-align: center;
        margin: 0 auto;
    }

    .hero__inner {
        flex-direction: column;
        align-items: center;
    }

    .hero__content {
        margin: 0 auto;
    
        flex: 0 0 100%;
    }

    .hero__body {
        width: 100%;
        text-align: center;
    }

    .hero__title {
        font-size: calc(30px + (25 + 25 * 0.7) * ((100vw - 320px) / 1920));
    }

    .hero__image-adapt {
        margin: 0 auto;

        display: block;

        max-width: 350px;
    }

    .hero__image {
        display: none;
    }

    .hero__text {
        margin-top: 50px;
        max-width: 100%;
    }


    .logo__ipsum {
        margin: 0 auto;
        max-width: 60%;
    }
    
    .apply__inner {
        flex-direction: column;
        align-items: center;
    }

    .apply__content {
        margin: 0 auto;
    
        flex: 0 0 100%;
        transform: translate(0%, 0px);
    }

    .apply__body {
        width: 100%;
        text-align: center;
    }

    .apply__title {
        font-size: calc(28px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
    }

    .apply__image-adapt {
        margin: 0 auto;

        display: block;

        max-width: 355px;
    }

    .apply__text {
        margin: 40px auto;
    }

    .apply__image {
        display: none;
    }

    .about__title {
        font-size: calc(28px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
    }

    .about__image-adapt {
        margin: 0 auto;

        display: flex;
    }

    .about__text {
        margin: 40px auto;
    }

    .about__image {
        display: none;
    }
}



